* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Sometype Mono", monospace;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    justify-content: space-between;
    unicode-bidi: isolate;
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    unicode-bidi: isolate;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #31343D;
}

ul {
    flex-wrap: wrap;
}

.nav_link1 li {
    color:#94CCCB;
    margin-inline-end: 12px;
    padding: 1px 10px;
    border-bottom: solid 4px #94CCCB;
}

.nav_title {
    align-items: center;
    display: flex;
    padding-left: 80px;
    background-color: #94CCCB;
}

.nav_link1 {
    list-style: none;
    margin: 10px 30px;
}

.nav_link1 li {
    flex-wrap: wrap-reverse;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%
}
#banner {
    display: flex;
}

nav {
}

#x {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Sometype Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

a, href {
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    color: #31343D;
    text-wrap: nowrap;
}

h2 {
    min-width: 300px;
    font-size: 48px;
    box-sizing: content-box;
    width: 200px;
    color: #31343D;
}

.nav_link1 h3 {
    font-size: 22px;
    text-decoration: none;
    color: #94CCCB;
}

h4 {

}

main {
    padding: 20px;
}

.blocks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.box {
    display: grid;
    grid-template-columns: 50% 50%;
}

.box1 {
    display: flex;
    transition: all 0.5s ease-in-out;
    flex: 1 1 300px;
    border: 5px solid #94CCCB;
    padding: 10px;
    margin: 10px;
}

.box2 {
    display: flex;
    transition: all 0.5s ease-in-out;
    margin: 10px;
    border: 5px solid #94CCCB;
}

div h2 {
    text-align: right;
    padding: 10px;
    border-right: solid;
}

.left_list {
    display: flex;
    flex-direction: row;
}

.left-list h2 {
    display: flex;
    justify-content: flex-end;
}

#cards {
    display: block;
    columns: auto;
    width: 100%;
}

p {
    font-size: 14px;
    color: grey;
}

#cards p {
    display: flex;
    padding: 30px;
}

#cards h2 {
    display: block;
}

#y {
    color: #31343D;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-grow: 3;
}

#y ul {
    display: flex;
    width: 100%;
}

.nav_link2 {
    display: flex;
    list-style: none;
    font-size: 28px;
    justify-content: center;
}

.nav_link2 li {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-inline-end: 12px;
    padding: 1px 10px;
    border-bottom: solid 4px #31343D;
}

.nav_link2 h3 {
    font-size: 28px;
    text-decoration: none;
    color: #31343D;
}

footer {
    display: block;
}

.copystamp {
    display: none;
}

@media screen and (max-width: 500px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
}

.box1:hover, .box2:hover p {
    box-shadow: inset 0px 0px 8px yellow, 0 0 15px var pink;
}